.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.white-background {
  background-color: white;
}

.dark-background {
  background-color: grey;
}

#cell-day {
  text-align: end;
  font-size: 0.8rem;
  margin-bottom: 0;
}

#cell-day-td {
  height: 8rem;
}

#appointment-btn {
  padding: 0;
  margin-left: -25%;
  font-size: 0.65rem;

}

#modal-close-btn {
  text-align: right;
  margin-bottom: 1.5rem;
}

#clear-data-btn {
  display: block;
  margin-top: 2rem;
}

#header {
  margin-top: 3rem;
}

ul {
  list-style-type: none;
}

#cell-day-event-grp {
  list-style-type: none;
}

table {
  table-layout: fixed;
}
